#book {
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rosybrown;
  vertical-align: middle;
  padding: 10px;
  position: absolute;
  top: 25px;
  right: 10px;
  color: white;
  border-radius: 100px;
  border-width: 5px;
  border-color:  rosybrown;
  border-style: solid;
}


.navbar li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    overflow: hidden;
    background-color: white;
    justify-content: center;
      }
  .navbar1 {
    float: left;
  }
  .navbar1 a {
    display: inline-block;
    color: seagreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar1 a:hover {
    background-color: rosybrown;
    color: rgb(255, 255, 255);
  }
  .active {
    background-color: #04AA6D;
  }

  h4 {
    padding: 0px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 00;
  }

div {
padding: 15px;
}

p{
  margin: 0;
  padding: 00;
}


a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

